@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
*{
    padding: 0px;
    margin: 0px;
}
body{
  display: flex;
  flex-direction: column;
    overflow-x: hidden;
    background-color: #131313;
    color:white;
}
#top-nav{
    width: 100%;
    height: 40px;
    position:sticky;
    top: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #131313;;
    padding: 10px;  
    z-index: 1000;
 
}
.main-logo{
    height: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
   
    
}
.main-logo img{
object-fit: contain;
padding: 3px;
}
.search-bar{
    width: 470px;
    height: 40px;
    border-width: 1px;
    border-color: #303030;
   border-radius: 20px;
 display: flex;
 justify-content: center;
 padding-left: 15px;
 background-color: #212121;
 overflow: hidden;

}
.search-bar>button{
    width: 64px;
    background-color: #303030;
    border: none;
    
}

input{
    width: 406px;
   color: white;
    background-color: transparent;
    border: none;

} 
input:focus{
   outline: transparent;
}
.miscs{
    padding-right: 15px;

}
.person{
    color:rgb(194, 194, 194)
}
.main,.main-4{
    display: flex;
    height: 100vh;
    flex:5;
}

#section-1{
    position:sticky;
    top: 60px;
    left: 0px;
    color: white;
    width: 15%;
    height: 91vh;
    background-color: #131313;
    padding-right: 20px;
    font-family: 'Inter', sans-serif;
    flex:0.8;
   overflow-y: scroll;
   
   
}
#section-1::-webkit-scrollbar{
    display: none;
}
.main-2{
    
    flex:4.2;
    color:white;
    background-color: #131313;
    font-family: 'Inter', sans-serif;

}

.li{
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content:left;
    gap: 30px;

}
.li:hover{
    border-radius: 10px;
    background-color: #303030;
}

.content{
    padding: 5px;
    height:fit-content;
    border-bottom: 2px solid rgb(63, 63, 63);
   
}
.nav-sec{
    position: sticky;
    top:60px;
    height: 50px;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
   background-color: #131313;;
   color: white;
   border-top: 1px solid  #2e2e2e;
   margin-bottom: 10px;

}
.topic-all{
    height:fit-content;
    padding: 8px;
    text-align: center;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #303030;
    font-family: 'Inter', sans-serif;

}
.topic-all:hover{
    color: #303030;
    background-color: white;
}
.topics{
    height:fit-content;
    width: 40px;
    padding: 8px;
    text-align: center;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #303030;
    font-family: 'Inter', sans-serif;
    border: 1px solid  #313131;
 
}
.topics:hover{
    color: #303030;
    background-color: white;
}
#video-section{
    padding-left: 10px;
     display: flex;
     flex-wrap: wrap;
     text-align: center;
     gap:15px;
   
}

.video_disp{
  width: 380px;
   height: 250px;
   overflow-x: hidden;
   border: 1px solid white;
   gap:15px;

}
a>img{
    width: 320px;
    border-radius: 12px;
}
.video-title{
 border:1px solid white;
 padding-inline: 20px;
}
.channel-name{
    text-align: left;
    font-size: 14px;
    color: #aba9a9;
}
a{
    color: white;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    gap:10px;
 
}